# Terraform
*.tfstate
*.tfstate.*
*.log

# Ignore crash log files
crash.log

# Ignore execution plan files
*.tfplan

# Ignore backend configuration files
*.tfbackend

# Ignore .terraform directory
.terraform/

# Python cache directories
**/__pycache__/
**/node_modules/
# Data directory
data/

.env*
.flaskenv*
.venv*
!.env.project
!.env.vault

dotenv.keys.json
*.crt
*.pem

iac/certificates/*
